# Binaries
bin/i686/*

# Drivers
!bin/i686/drivers
bin/i686/drivers/*
!bin/i686/drivers/.gitkeep

# ISO
!bin/i686/iso
bin/i686/iso/ramfs.tar
bin/i686/iso/boot/LimeOS.bin

# Kernel build
**/build/*
!**/build/.gitkeep